{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Online Diary</title>

    <!-- icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- style -->
    <link href="{% static "css/style.css" %}" rel="stylesheet">

</head>
<body>
    <nav>
        <a href="{% url 'index' %}" class="logo">
            <i class="fa-solid fa-book"></i>
            Online Diary
        </a>
    </nav>

    {% block main %}

    <div class="container cont_2">
        <div class="cont">
            <p>The perfect place where you<br>make notes</p>
            <div>
                <a href="{% url 'registration' %}">Register</a>
                <a href="{% url 'user_login' %}">Login</a>
            </div>
        </div>
        <div class="cont">
            <img src="{% static "images/603.jpg" %}" alt="" srcset="">
        </div>
        
    </div>

    {% endblock %}
    
</body>
</html>