{% extends 'userbase.html' %}
{% load static %}
{% block main %}
        <!-- body ------------------------------------------------>


        
        <div class="main-body">
            <h1>Change Password</h1>

            <div class="row style">
                <form method="post" name="changepassword" onsubmit="return checkpassword()">
                    {% csrf_token %}
                    <div class="row2">
                        <label class="form-label">Current Password</label>
                        <input type="password" name="oldpassword" placeholder="Enter Current Password" class="form-control" required>
                    </div>
                    <div class="row2">
                        <label class="form-label">New Password</label>
                        <input type="password" name="newpassword" placeholder="Enter New Password" class="form-control" required>
                    </div>
                    <div class="row2">
                        <label class="form-label">Confirm Password</label>
                        <input type="password" name="confirmpassword" placeholder="Enter Confirm Password" class="form-control" required>
                    </div>
                    <div class="mb-3">
                        <button type="submit" class="btn btn-primary px-5">Submit</button>
                    </div>
                </form>
            </div>

                                        

            <script>
                function checkpassword(){
                if(document.changepassword.newpassword.value!=document.changepassword.confirmpassword.value){
                alert('New Password and Confirm Password field does not Match');
                document.changepassword.confirmpassword.focus();
                return false;
                }
                return true;
                }
            </script>

            {% if error == "no" %}
            <script>
                alert('Password updated successfully');
                window.location=('{% url 'logout' %}');
            </script>
            {% endif %}
            {% if error == "yes" %}
            <script>
                alert('Something went wrong , try again later');
            </script>
            {% endif %}

            {% if error == "not" %}
            <script>
                alert('Your current password is wrong');
            </script>
            {% endif %}





        </div>
{% endblock %}