{% extends 'base.html' %}
{% block main %}
{% load static %}

    <div class="container cont_2">
        <div class="cont">
            <p>The perfect place where you<br>make notes</p>
            <div>
                <a href="{% url 'registration' %}">Register</a>
                <a href="{% url 'user_login' %}">Login</a>
            </div>
        </div>
        <div class="cont">
            <img src="{% static "images/603.jpg" %}" alt="" srcset="">
        </div>
        
    </div>

{% endblock %}