{% extends 'base.html' %}
{% block main %}
{% load static %}


    <div class="container">
        <form method="post">
            {% csrf_token %}
            <h1>Register</h1>
            <div class="name">
                <input type="text" name="firstName" placeholder="Enter First Name" required>
                <input type="text" name="lastName" placeholder="Enter Last Name" required>
            </div>
            <input type="email" name="emailid" placeholder="example@gmail.com" required>
            <input type="password" name="Password" placeholder="Enter Password" required>
            <input type="text" name="mobileNumber" placeholder="Example: 1234567890" maxlength="10" required>
            <button type="submit">REGISTER</button>

            <span>Already have an account? <a href="{% url 'user_login' %}">Login here</a></span>

        </form>
        
    </div>


    {% if error == "no" %}
    <script>
    alert('Registration Successfully');
    window.location=('{% url 'user_login' %}');
    </script>
    {% endif %}

    {% if error == "yes" %}
    <script>
    alert('Something went Wrong. Try Again...');
    </script>
    {% endif %}

{% endblock %}