{% extends 'base.html' %}
{% block main %}
{% load static %}


    <div class="container">
        <form method="post">
            {% csrf_token %}
            <h1>Login</h1>
            <input type="email" name="emailid" placeholder="example@gmail.com" required>
            <input type="password" name="password" placeholder="Password" required>
            <button type="submit">LOGIN</button>

            <span>Don't have an account? <a href="{% url 'registration' %}">Register here</a></span>

        </form>
    </div>

    {% if error == "no" %}
    <script>
    alert('Logged In Successfully');
    window.location=('{% url 'user_home' %}');
    </script>
    {% endif %}

    {% if error == "yes" %}
    <script>
    alert('Invalid Credential. Try Again...');
    </script>
    {% endif %}

{% endblock %}